
    #room {
      width: 100%;
      flex:1;
    }
    .room-container {
      justify-content: center;
      align-items: center;
      border : 1px solid gold;
      
    }
    .room-name {
      text-align: center;
      margin: 10px;
      font-size : 30px;
    }
    .room-input {
      margin : 10px;
    }
    .room-input-box {
      font-size: 15px;
      text-align: left;
      height: 50px;
      margin: 10px;
      padding: 3px;
    }
    .room-btn {
      font-size: 18px;
      font-weight: 500;
      height: 50px;
      margin: 10px;
      color: whitesmoke;
      border: none;
      background-color: #ff8906;
      outline-style: none;
    }
    .room-btn:hover {
      cursor: pointer;
      background-color: #ff7f00;
    }
    .roomdetail-container {
      border: 1px solid blue;
      height: 80px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .room-one {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 20px;
      color: #fd0090;
      background-color: #f5f5f5;
      border: #fd0090;
    }
    .room-one:hover {
      cursor: pointer;
      background-color: #fd0090;
      color: whitesmoke;
    }